<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no" charset="utf-8">
<title>Controle de Alunos</title>
<link href="/imagens/pp.png" rel="icon" type="image/x-icon" />

<!-- WEBJARS -->
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />

</head>
<body>
	<!-- Barra de Menu -->
	<section th:insert="barra_de_menu :: barra_de_menu"></section>
	<section class="container">
		<div class="row justify-content-center">
			<div class="col-12 mt-5">
				<div class="text-center">
					<img class="img-fluid" src="/imagens/g.png">
					<br>
					<h1>Seja bem vindo!!!</h1>
				</div>
			</div>
		</div>
	</section>
</body>
</html>