<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no" charset="utf-8">
<title>Controle de Alunos</title>
<link href="/imagens/pp.png" rel="icon" type="image/x-icon" />

<!-- WEBJARS -->
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />

</head>
<body>
	<section th:fragment="mensagem">
		<!-- Modal Mensagem -->
		<div class="modal fade" id="mensagem" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
					</div>
					<div class="modal-body text-center">
						<div th:if="${erro != null}" class="alert alert-danger m-0 p-1">
							<span th:text="${erro}"></span>
						</div>
						<div th:if="${sucesso != null}" class="alert alert-success m-0 p-1">
							<span th:text="${sucesso}"></span>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Ok</button>
					</div>
				</div>
			</div>
		</div>	
	</section>
</body>
</html>